@include className('skills'){
	position: relative;
	z-index: 1;
	&:before{
		@include pseudo();
		left: -50px;
		top: -50px;
		width: 120%;
		height: 100%;
		background-color: $color-brand-2;
		transform: rotate(5deg);
		z-index: -1;
	}
	@include resp-min(sm){
		&:before{
			left: -100px;
			top: -100px;
		}
	}
}