+b.SECTION.contacts__#section-contacts
	+e.shape._left.shape__._brand-1._transparent(data-emergence="hidden")
		+e.inner
			+e.inner-shape._brand-1
	+e.shape._right.shape__._brand-1._transparent(data-emergence="hidden")
		+e.inner
			+e.inner-shape._brand-1
	+e.container.container
		+e.row.row
			.col-12.col-sm-6.col-md-5
				+b.message._shadow
					+e.header
						+e.P.title Start working with me
					+e.body
						+form()
			.col-12.col-sm-6
				+e.vtitle-group.vtitle-group
					+e.H3.title.vtitle-lg Let’s work Together
				+e.UL.info
					+e.LI.info-element
						+e.A.info-element-link(href="#")
							+e.I.info-element-link-icon.vfa.vfa-envelope(aria-hidden="true")
							+e.SPAN.info-element-link-text seva.kurochka@gmail.com
					+e.LI.info-element
						+e.A.info-element-link(href="#")
							+e.I.info-element-link-icon.vfa.vfa-phone(aria-hidden="true")
							+e.SPAN.info-element-link-text +38 (063) 505 62 63
					+e.LI.info-element
						+e.A.info-element-link(href="#")
							+e.I.info-element-link-icon.vfa.vfa-map-marker(aria-hidden="true")
							+e.SPAN.info-element-link-text Cherkassy, Ukraine
				+social('_big')
		+e.P.letters-bg.letters-bg(data-emergence="hidden") One step Left