+b.SECTION.services
	.container
		+b.group._inline
			+e.H3.title(data-emergence="hidden" data-text="My Services")
				| My
				br
				span Services
		+e.grid
			+e.item
				+e.item-header
					include /components/service-1
				+e.P.item-title Creating a turnkey website.
			+e.item
				+e.item-header
					include /components/service-1
				+e.P.item-title Creating a turnkey website.
			+e.item
				+e.item-header
					include /components/service-1
				+e.P.item-title Creating a turnkey website.
			+e.item
				+e.item-header
					include /components/service-1
				+e.P.item-title Creating a turnkey website.
			+e.item
				+e.item-header
					include /components/service-1
				+e.P.item-title Creating a turnkey website.
			+e.item
				+e.item-header
					include /components/service-1
				+e.P.item-title Creating a turnkey website.