.vintro{
	position: relative;
	z-index: 1;
	overflow: hidden;
	&:before{
		@include pseudo();
		left: 0;
		top: -100px;
		width: 110%;
		height: 100%;
		background-color: $color-brand-2;
		transform: rotate(-3deg);
		z-index: -1;
	}
	&__subtitle{
		position: relative;
		font-weight: 300;
		line-height: 1.4;
	}
	&__title{
		@include font('secondary');
		font-weight: 900;
		letter-spacing: 2.5px;
	}
	&__circle{
		z-index: -1;
		&_left{
			left: -20%;
			bottom: 85%;
		}
		&_right{
			right: 0;
			bottom: 60%;
		}
		&_main{
			left: -100px;
		}
	}
	@include resp-min(md){
		padding-top: 200px;
		padding-bottom: 150px;
	}
	@include resp-min(lg){
		&__subtitle{
			left: -15px;
		}
	}
	@include resp-min(xlg){
		&__subtitle{
			left: -125px;
		}
	}
}