@include className('intro'){
	&__shape{
		z-index: -1;
		&_left{
			left: -20%;
			bottom: 75%;
		}
		&_right{
			right: 0;
			bottom: 60%;
		}
		&_main{
			left: -100px;
			opacity: 0.5;
			@include resp-max(sm){
				left: -15%;
				@include size(300px);
			}
			@include resp-min(md){
				top: -100px;
			}
			@include resp-min(lg){
				top: 0;
			}
		}
	}
}