@include b('intro'){
	&__shape{
		z-index: -1;
		&_left{
			left: -20%;
			bottom: 75%;
		}
		&_right{
			right: 0;
			bottom: 80%;
		}
		&_main{
			opacity: 0.5;
			@include max(sm){
				@include size(300px);
			}
			@include min(md){
				top: -100px;
			}
			@include min(lg){
				top: 0;
				left: 40%;
			}
		}
	}
}