
<!-- class="_size-lg"-->
<footer class="vsite-footer" id="colophon">
  <div class="vsite-footer__container vcontainer">
    <div class="vsite-footer__row vrow">
      <div class="vcol-12 vcol-sm-8">
        <div class="vsite-footer__menu">
          <ul>
            <li class="vnav__menu-item"><a href="#section-about">About Me</a>
            </li>
            <li class="vnav__menu-item"><a href="#section-skills">Technologies</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="vcol-12 vcol-sm-4">
        <ul class="vsocial vsite-footer__social">
          <li class="vsocial__item"><a class="vsocial__item-link" href="tel: +38 (063) 505 62 63"><i class="vsocial__item-link-icon vfa vfa-mobile" aria-hidden="true"></i></a>
          </li>
          <li class="vsocial__item"><a class="vsocial__item-link" href="skype: mozilla20103"><i class="vsocial__item-link-icon vfa vfa-skype" aria-hidden="true"></i></a>
          </li>
          <li class="vsocial__item"><a class="vsocial__item-link" href="https://www.facebook.com/vsevolod.kurochka.1"><i class="vsocial__item-link-icon vfa vfa-facebook" aria-hidden="true"></i></a>
          </li>
          <li class="vsocial__item"><a class="vsocial__item-link" href="https://github.com/VsevolodKurochka"><i class="vsocial__item-link-icon vfa vfa-github" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="vsite-footer__container vcontainer">
    <div class="vsite-footer__copyright">
      <p>© 2014-2017 VSEVOLOD KUROCHKA ALL RIGHTS RESERVED</p>
    </div>
  </div>
</footer>