include ../bem/index
include ../helpers/config
include ../helpers/data
include ../helpers/mixins
include ../components/social
+b.fixed._md-top
	+b.nav._style#js-navigation
		+e.container.container
			+e.row.flex.flex-y-center
				+e.logo
					+b.hamburger(type="button" id="js-vnav__btn")
						+e.SPAN.lines
							span Line1
							span Line2
							span Line3
					+e.logo-content
						+e.P.logo-content-text Kurochka
				+e.NAV.menu#js-navigation-menu
					+e.UL.menu-list
						for item in nav
							+menu-item('true', item.link, item.name)
					+e.UL.menu-list
						li
							+btn-cross('Contact me', 'button')
					