
<div class="vfixed vfixed_md-top">
  <div class="vnav vnav_style" id="js-navigation">
    <div class="vnav__container vcontainer">
      <div class="vnav__row vrow vflex-y-center">
        <div class="vnav__logo vcol-8 vcol-md-3">
          <button class="vhamburger" type="button" id="js-vnav__btn"><span class="vhamburger__lines"><span>Line1</span><span>Line2</span><span>Line3</span></span>
          </button>
          <div class="vnav__logo-content">
            <p class="vnav__logo-content-text">Kurochka
            </p>
          </div>
        </div>
        <nav class="vnav__menu vcol-12 vcol-md-6" id="js-navigation-menu">
          <ul>
            <li class="vnav__menu-item"><a href="#section-about">About Me</a>
            </li>
            <li class="vnav__menu-item"><a href="#section-technologies">Technologies</a>
            </li>
            <li class="vnav__menu-item"><a href="#section-projects">Projects</a>
            </li>
            <li class="vnav__menu-item"><a href="#section-contact">Contact me</a>
            </li>
          </ul>
        </nav>
        <div class="vnav__addition vcol-4 vcol-md-3" id="js-vnav-addition">
          <div class="vnav__addition-toggle" id="js-vnav-toggle"><span></span><span></span><span></span>
          </div>
          <div class="vnav__addition-links js-vnav-links"><a class="vnav__addition-link" href="tel: +38 (063) 505 62 63">+38 (063) 505 62 63</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>