include ../bem/index
include ../helpers/config
include ../helpers/data
include ../helpers/mixins

+b.fixed._md-top
	+b.nav._style#js-navigation
		+e.container.container
			+e.row.flex.flex-y-center
				+e.logo
					+b.hamburger(type="button" id="js-vnav__btn")
						+e.SPAN.lines
							span Line1
							span Line2
							span Line3
					+e.logo-content
						+e.P.logo-content-text Kurochka
				+e.NAV.menu#js-navigation-menu
					ul
						for item in navigation
							+menu-item('true', item.link, item.name)
				+e.addition
					+e.A.addition-link(href="tel: +38 (063) 505 62 63")
						+e.I.addition-link-icon.fa.fa-2x.fa-mobile(aria-hidden="true")
						+e.SPAN.addition-link-text +38 (063) 505 62 63