
<!-- class="_size-lg"-->
<div class="fixed fixed_md-top">
  <div class="nav nav_style" id="js-navigation">
    <div class="nav__container container">
      <div class="nav__row flex flex-y-center">
        <div class="nav__logo">
          <button class="hamburger" type="button" id="js-vnav__btn"><span class="hamburger__lines"><span>Line1</span><span>Line2</span><span>Line3</span></span>
          </button>
          <div class="nav__logo-content">
            <p class="nav__logo-content-text">Kurochka
            </p>
          </div>
        </div>
        <nav class="nav__menu" id="js-navigation-menu">
          <ul class="nav__menu-list">
            <li class="nav__menu-item"><a href="#section-about">About Me</a>
            </li>
            <li class="nav__menu-item"><a href="#section-skills">Technologies</a>
            </li>
            <li class="nav__menu-item"><a href="#section-projects">Projects</a>
            </li>
            <li class="nav__menu-item"><a href="#section-contact">Contact Me</a>
            </li>
          </ul>
          <ul class="nav__menu-list">
            <li><li>
              <button class="btn btn_cross btn_cross-white"><span class="fl"></span><span class="sfl"></span><span class="cross"></span><i></i>
                <p>Contact me</p>
              </button></li>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>