html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  border: 0;
}

html {
  line-height: 1;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
  line-height: 1.42857143;
  color: #000;
}

img {
  display: inline-block;
  max-width: 100%;
}

a, button {
  cursor: pointer;
}

.font-general, body {
  font-family: 'Roboto', sans-serif;
}

.font-weight-regular, body {
  font-weight: 400;
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-bold, .vbtn, .vmodal__title {
  font-weight: 700;
}

.font-weight-heavy, strong,
.strong,
b,
.b {
  font-weight: 900;
}

/* -----------------------------------------------------------------------------
	COLUMNS
----------------------------------------------------------------------------- */
.vcol-1 {
  max-width: 8.33333%;

  -webkit-flex-basis: 8.33333%;

  -ms-flex-preferred-size: 8.33333%;

  flex-basis: 8.33333%;
}

.vcol-2 {
  max-width: 16.66667%;

  -webkit-flex-basis: 16.66667%;

  -ms-flex-preferred-size: 16.66667%;

  flex-basis: 16.66667%;
}

.vcol-3 {
  max-width: 25%;

  -webkit-flex-basis: 25%;

  -ms-flex-preferred-size: 25%;

  flex-basis: 25%;
}

.vcol-4 {
  max-width: 33.33333%;

  -webkit-flex-basis: 33.33333%;

  -ms-flex-preferred-size: 33.33333%;

  flex-basis: 33.33333%;
}

.vcol-5 {
  max-width: 41.66667%;

  -webkit-flex-basis: 41.66667%;

  -ms-flex-preferred-size: 41.66667%;

  flex-basis: 41.66667%;
}

.vcol-6 {
  max-width: 50%;

  -webkit-flex-basis: 50%;

  -ms-flex-preferred-size: 50%;

  flex-basis: 50%;
}

.vcol-7 {
  max-width: 58.33333%;

  -webkit-flex-basis: 58.33333%;

  -ms-flex-preferred-size: 58.33333%;

  flex-basis: 58.33333%;
}

.vcol-8 {
  max-width: 66.66667%;

  -webkit-flex-basis: 66.66667%;

  -ms-flex-preferred-size: 66.66667%;

  flex-basis: 66.66667%;
}

.vcol-9 {
  max-width: 75%;

  -webkit-flex-basis: 75%;

  -ms-flex-preferred-size: 75%;

  flex-basis: 75%;
}

.vcol-10 {
  max-width: 83.33333%;

  -webkit-flex-basis: 83.33333%;

  -ms-flex-preferred-size: 83.33333%;

  flex-basis: 83.33333%;
}

.vcol-11 {
  max-width: 91.66667%;

  -webkit-flex-basis: 91.66667%;

  -ms-flex-preferred-size: 91.66667%;

  flex-basis: 91.66667%;
}

.vcol-12 {
  max-width: 100%;

  -webkit-flex-basis: 100%;

  -ms-flex-preferred-size: 100%;

  flex-basis: 100%;
}

@media (min-width: 480px) {
  .vcol-xs-1 {
    max-width: 8.33333%;

    -webkit-flex-basis: 8.33333%;

    -ms-flex-preferred-size: 8.33333%;

    flex-basis: 8.33333%;
  }
  .vcol-xs-2 {
    max-width: 16.66667%;

    -webkit-flex-basis: 16.66667%;

    -ms-flex-preferred-size: 16.66667%;

    flex-basis: 16.66667%;
  }
  .vcol-xs-3 {
    max-width: 25%;

    -webkit-flex-basis: 25%;

    -ms-flex-preferred-size: 25%;

    flex-basis: 25%;
  }
  .vcol-xs-4 {
    max-width: 33.33333%;

    -webkit-flex-basis: 33.33333%;

    -ms-flex-preferred-size: 33.33333%;

    flex-basis: 33.33333%;
  }
  .vcol-xs-5 {
    max-width: 41.66667%;

    -webkit-flex-basis: 41.66667%;

    -ms-flex-preferred-size: 41.66667%;

    flex-basis: 41.66667%;
  }
  .vcol-xs-6 {
    max-width: 50%;

    -webkit-flex-basis: 50%;

    -ms-flex-preferred-size: 50%;

    flex-basis: 50%;
  }
  .vcol-xs-7 {
    max-width: 58.33333%;

    -webkit-flex-basis: 58.33333%;

    -ms-flex-preferred-size: 58.33333%;

    flex-basis: 58.33333%;
  }
  .vcol-xs-8 {
    max-width: 66.66667%;

    -webkit-flex-basis: 66.66667%;

    -ms-flex-preferred-size: 66.66667%;

    flex-basis: 66.66667%;
  }
  .vcol-xs-9 {
    max-width: 75%;

    -webkit-flex-basis: 75%;

    -ms-flex-preferred-size: 75%;

    flex-basis: 75%;
  }
  .vcol-xs-10 {
    max-width: 83.33333%;

    -webkit-flex-basis: 83.33333%;

    -ms-flex-preferred-size: 83.33333%;

    flex-basis: 83.33333%;
  }
  .vcol-xs-11 {
    max-width: 91.66667%;

    -webkit-flex-basis: 91.66667%;

    -ms-flex-preferred-size: 91.66667%;

    flex-basis: 91.66667%;
  }
  .vcol-xs-12 {
    max-width: 100%;

    -webkit-flex-basis: 100%;

    -ms-flex-preferred-size: 100%;

    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .vcol-sm-1 {
    max-width: 8.33333%;

    -webkit-flex-basis: 8.33333%;

    -ms-flex-preferred-size: 8.33333%;

    flex-basis: 8.33333%;
  }
  .vcol-sm-2 {
    max-width: 16.66667%;

    -webkit-flex-basis: 16.66667%;

    -ms-flex-preferred-size: 16.66667%;

    flex-basis: 16.66667%;
  }
  .vcol-sm-3 {
    max-width: 25%;

    -webkit-flex-basis: 25%;

    -ms-flex-preferred-size: 25%;

    flex-basis: 25%;
  }
  .vcol-sm-4 {
    max-width: 33.33333%;

    -webkit-flex-basis: 33.33333%;

    -ms-flex-preferred-size: 33.33333%;

    flex-basis: 33.33333%;
  }
  .vcol-sm-5 {
    max-width: 41.66667%;

    -webkit-flex-basis: 41.66667%;

    -ms-flex-preferred-size: 41.66667%;

    flex-basis: 41.66667%;
  }
  .vcol-sm-6 {
    max-width: 50%;

    -webkit-flex-basis: 50%;

    -ms-flex-preferred-size: 50%;

    flex-basis: 50%;
  }
  .vcol-sm-7 {
    max-width: 58.33333%;

    -webkit-flex-basis: 58.33333%;

    -ms-flex-preferred-size: 58.33333%;

    flex-basis: 58.33333%;
  }
  .vcol-sm-8 {
    max-width: 66.66667%;

    -webkit-flex-basis: 66.66667%;

    -ms-flex-preferred-size: 66.66667%;

    flex-basis: 66.66667%;
  }
  .vcol-sm-9 {
    max-width: 75%;

    -webkit-flex-basis: 75%;

    -ms-flex-preferred-size: 75%;

    flex-basis: 75%;
  }
  .vcol-sm-10 {
    max-width: 83.33333%;

    -webkit-flex-basis: 83.33333%;

    -ms-flex-preferred-size: 83.33333%;

    flex-basis: 83.33333%;
  }
  .vcol-sm-11 {
    max-width: 91.66667%;

    -webkit-flex-basis: 91.66667%;

    -ms-flex-preferred-size: 91.66667%;

    flex-basis: 91.66667%;
  }
  .vcol-sm-12 {
    max-width: 100%;

    -webkit-flex-basis: 100%;

    -ms-flex-preferred-size: 100%;

    flex-basis: 100%;
  }
}

@media (min-width: 1025px) {
  .vcol-md-1 {
    max-width: 8.33333%;

    -webkit-flex-basis: 8.33333%;

    -ms-flex-preferred-size: 8.33333%;

    flex-basis: 8.33333%;
  }
  .vcol-md-2 {
    max-width: 16.66667%;

    -webkit-flex-basis: 16.66667%;

    -ms-flex-preferred-size: 16.66667%;

    flex-basis: 16.66667%;
  }
  .vcol-md-3 {
    max-width: 25%;

    -webkit-flex-basis: 25%;

    -ms-flex-preferred-size: 25%;

    flex-basis: 25%;
  }
  .vcol-md-4 {
    max-width: 33.33333%;

    -webkit-flex-basis: 33.33333%;

    -ms-flex-preferred-size: 33.33333%;

    flex-basis: 33.33333%;
  }
  .vcol-md-5 {
    max-width: 41.66667%;

    -webkit-flex-basis: 41.66667%;

    -ms-flex-preferred-size: 41.66667%;

    flex-basis: 41.66667%;
  }
  .vcol-md-6 {
    max-width: 50%;

    -webkit-flex-basis: 50%;

    -ms-flex-preferred-size: 50%;

    flex-basis: 50%;
  }
  .vcol-md-7 {
    max-width: 58.33333%;

    -webkit-flex-basis: 58.33333%;

    -ms-flex-preferred-size: 58.33333%;

    flex-basis: 58.33333%;
  }
  .vcol-md-8 {
    max-width: 66.66667%;

    -webkit-flex-basis: 66.66667%;

    -ms-flex-preferred-size: 66.66667%;

    flex-basis: 66.66667%;
  }
  .vcol-md-9 {
    max-width: 75%;

    -webkit-flex-basis: 75%;

    -ms-flex-preferred-size: 75%;

    flex-basis: 75%;
  }
  .vcol-md-10 {
    max-width: 83.33333%;

    -webkit-flex-basis: 83.33333%;

    -ms-flex-preferred-size: 83.33333%;

    flex-basis: 83.33333%;
  }
  .vcol-md-11 {
    max-width: 91.66667%;

    -webkit-flex-basis: 91.66667%;

    -ms-flex-preferred-size: 91.66667%;

    flex-basis: 91.66667%;
  }
  .vcol-md-12 {
    max-width: 100%;

    -webkit-flex-basis: 100%;

    -ms-flex-preferred-size: 100%;

    flex-basis: 100%;
  }
}

@media (min-width: 1200px) {
  .vcol-lg-1 {
    max-width: 8.33333%;

    -webkit-flex-basis: 8.33333%;

    -ms-flex-preferred-size: 8.33333%;

    flex-basis: 8.33333%;
  }
  .vcol-lg-2 {
    max-width: 16.66667%;

    -webkit-flex-basis: 16.66667%;

    -ms-flex-preferred-size: 16.66667%;

    flex-basis: 16.66667%;
  }
  .vcol-lg-3 {
    max-width: 25%;

    -webkit-flex-basis: 25%;

    -ms-flex-preferred-size: 25%;

    flex-basis: 25%;
  }
  .vcol-lg-4 {
    max-width: 33.33333%;

    -webkit-flex-basis: 33.33333%;

    -ms-flex-preferred-size: 33.33333%;

    flex-basis: 33.33333%;
  }
  .vcol-lg-5 {
    max-width: 41.66667%;

    -webkit-flex-basis: 41.66667%;

    -ms-flex-preferred-size: 41.66667%;

    flex-basis: 41.66667%;
  }
  .vcol-lg-6 {
    max-width: 50%;

    -webkit-flex-basis: 50%;

    -ms-flex-preferred-size: 50%;

    flex-basis: 50%;
  }
  .vcol-lg-7 {
    max-width: 58.33333%;

    -webkit-flex-basis: 58.33333%;

    -ms-flex-preferred-size: 58.33333%;

    flex-basis: 58.33333%;
  }
  .vcol-lg-8 {
    max-width: 66.66667%;

    -webkit-flex-basis: 66.66667%;

    -ms-flex-preferred-size: 66.66667%;

    flex-basis: 66.66667%;
  }
  .vcol-lg-9 {
    max-width: 75%;

    -webkit-flex-basis: 75%;

    -ms-flex-preferred-size: 75%;

    flex-basis: 75%;
  }
  .vcol-lg-10 {
    max-width: 83.33333%;

    -webkit-flex-basis: 83.33333%;

    -ms-flex-preferred-size: 83.33333%;

    flex-basis: 83.33333%;
  }
  .vcol-lg-11 {
    max-width: 91.66667%;

    -webkit-flex-basis: 91.66667%;

    -ms-flex-preferred-size: 91.66667%;

    flex-basis: 91.66667%;
  }
  .vcol-lg-12 {
    max-width: 100%;

    -webkit-flex-basis: 100%;

    -ms-flex-preferred-size: 100%;

    flex-basis: 100%;
  }
}

[class*=vcol] {
  padding-right: 15px;
  padding-left: 15px;

  -webkit-box-flex: 0;

  -webkit-flex-grow: 0;

  -ms-flex-positive: 0;

  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

/* -----------------------------------------------------------------------------
	COLUMNS
----------------------------------------------------------------------------- */
.vcontainer {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .vcontainer {
    width: 750px;
  }
}

@media (min-width: 1025px) {
  .vcontainer {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .vcontainer {
    width: 1170px;
  }
}

.vrow {
  margin-right: -15px;
  margin-left: -15px;
}

.vclearfix {
  position: relative;
}

.vclearfix:after, .vclearfix:before {
  display: table;
  content: "";
}

.vclearfix:after {
  clear: both;
}

.vflex, .vrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-box-flex: 0;

  -webkit-flex: 0 1 auto;

  -ms-flex: 0 1 auto;

  flex: 0 1 auto;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.vflex-y-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.vsection {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* -----------------------------------------------------------------------------
  HIDDEN AND VISIBLE UTILITIES
----------------------------------------------------------------------------- */
.vhidden,
.vvisible-lg,
.vvisible-md,
.vvisible-sm,
.vvisible-xs {
  display: none !important;
}

@media (min-width: 1200px) {
  .vhidden-lg {
    display: none !important;
  }
  .vvisible-lg {
    display: block !important;
  }
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .vhidden-md {
    display: none !important;
  }
  .vvisible-md {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .vhidden-sm {
    display: none !important;
  }
  .vvisible-sm {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .vhidden-xs {
    display: none !important;
  }
  .vvisible-xs {
    display: block !important;
  }
}

/* -----------------------------------------------------------------------------
  HIDDEN AND VISIBLE UTILITIES
----------------------------------------------------------------------------- */
.vfixed {
  position: fixed;
  left: 0;
  z-index: 10;
  width: 100%;
}

@media (max-width: 1024px) {
  .vfixed + .site {
    margin-top: 56px;
  }
}

@media (min-width: 1025px) {
  .vfixed_md-top {
    top: 0;
  }
}

.vnav__row {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .vnav_style {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 56px;
    padding: 11px 0;
    background-color: #28a5f5;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);

    -webkit-box-align: center;

    -webkit-align-items: center;

    -ms-flex-align: center;

    align-items: center;
  }
  .vnav_style + .site {
    margin-top: 56px;
  }
  .vnav_style .vnav__container {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

@media (min-width: 1025px) {
  .vnav {
    padding: 25px 0;
  }
}

.vnav__menu {
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 1024px) {
  .vnav_style .vnav__menu {
    position: fixed;
    top: 56px;
    left: 0;
    z-index: 1;
    width: 270px;
    height: 100%;
    padding: 0 0 100px 0;
    overflow-y: auto;
    background-color: #28a5f5;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
    -webkit-transform: translateZ(0) translateX(-120%);
    transform: translateZ(0) translateX(-120%);
  }
  .vnav_style .vnav__menu_active {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.vnav__menu-item {
  display: block;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}

.vnav__menu-item a {
  position: relative;
  display: block;
  color: inherit;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .vnav__menu-item {
    margin-bottom: 10px;
  }
  .vnav__menu-item a {
    padding: 10px 15px;
    color: #fff;
  }
}

@media (min-width: 1025px) {
  .vnav__menu-item {
    display: inline-block;
    vertical-align: middle;
  }
  .vnav__menu-item:not(:last-child) {
    margin-right: 15px;
  }
  .vnav__menu-item a {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
  }
  .vnav__menu-item a:before, .vnav__menu-item a:after {
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    content: "";
    background-color: #28a5f5;
  }
  .vnav__menu-item a:before {
    left: 0;
  }
  .vnav__menu-item a:after {
    right: 0;
    -webkit-transition: width .8s cubic-bezier(.22, .61, .36, 1);
    -o-transition: width .8s cubic-bezier(.22, .61, .36, 1);
    transition: width .8s cubic-bezier(.22, .61, .36, 1);
  }
  .vnav__menu-item a:hover:before {
    width: 100%;
    -webkit-transition: width .5s cubic-bezier(.22, .61, .36, 1);
    -o-transition: width .5s cubic-bezier(.22, .61, .36, 1);
    transition: width .5s cubic-bezier(.22, .61, .36, 1);
  }
  .vnav__menu-item a:hover:after {
    width: 100%;
    background-color: transparent;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
  }
}

.vnav__logo {
  font-size: 0;
}

.vnav__logo-content {
  display: inline-block;
}

@media (max-width: 1024px) {
  .vnav_style .vnav__logo img {
    max-height: 28px;
    vertical-align: middle;
  }
}

/* -----------------------------------------------------------------------------

  HAMBURGER COMPONENT
  
----------------------------------------------------------------------------- */
.vhamburger {
  padding: 0;
  margin-right: 15px;
  background-color: transparent;
  border: none;
  outline: none;

  -webkit-appearance: none;

  -moz-appearance: none;

  appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.vhamburger, .vhamburger__lines, .vhamburger__text {
  display: inline-block;
  vertical-align: middle;
}

.vhamburger, .vhamburger__lines, .vhamburger__lines span {
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}

.vhamburger__lines {
  position: relative;
  width: 24px;
  height: 20px;
  text-indent: -9999px;
}

.vhamburger__lines span {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #fff;
}

.vhamburger__lines span:nth-child(1) {
  top: 0;
  -webkit-transform-origin: 3px 5px;
  -ms-transform-origin: 3px 5px;
  transform-origin: 3px 5px;
}

.vhamburger__lines span:nth-child(2) {
  top: 8px;
  opacity: 1;
}

.vhamburger__lines span:nth-child(3) {
  top: 16px;
  -webkit-transform-origin: 1px -1px;
  -ms-transform-origin: 1px -1px;
  transform-origin: 1px -1px;
}

.vhamburger__text {
  margin-left: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.vhamburger.active .vhamburger__lines span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.vhamburger.active .vhamburger__lines span:nth-child(2) {
  opacity: 0;
  -webkit-transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  transform: translateX(-60px);
}

.vhamburger.active .vhamburger__lines span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (min-width: 1025px) {
  .vhamburger {
    display: none;
  }
}

.vnav__addition {
  position: relative;
  display: inline-block;
  font-weight: bold;
  color: #000;
}

.vnav__addition-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.vnav__addition-toggle {
  display: block;
  cursor: pointer;
  outline: none;

  -webkit-tap-highlight-color: transparent;
}

.vnav__addition-toggle span {
  position: relative;
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: 5px;
  vertical-align: middle;
  background-color: #fff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.vnav__addition-toggle span:last-child {
  margin-right: 0;
}

@media (max-width: 1024px) {
  .vnav_style .vnav__addition {
    text-align: right;
  }
  .vnav_style .vnav__addition:after {
    position: absolute;
    top: -15px;
    right: 0;
    z-index: -1;
    width: 55px;
    height: 56px;
    content: "";
    background-color: #097dc7;
    opacity: 0;
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
  }
  .vnav_style .vnav__addition-links {
    position: absolute;
    top: 40px;
    right: 0;
    min-width: 180px;
    padding: 15px;
    background-color: #28a5f5;
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    -webkit-transform: translateZ(0) translateX(120%);
    transform: translateZ(0) translateX(120%);
  }
  .vnav_style .vnav__addition-link {
    font-size: 14px;
    color: #fff;
  }
  .vnav_style .vnav__addition.active:after {
    opacity: 1.00;
  }
  .vnav_style .vnav__addition.active .vnav__addition-links {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@media (min-width: 1025px) {
  .vnav__addition {
    text-align: right;
  }
  .vnav__addition-toggle, .vnav__addition-link_hidden {
    display: none;
  }
}

.vsite-header {
  position: relative;
  z-index: 1;
}

.inline-block {
  display: inline-block;
}

.ovh {
  overflow: hidden;
}

.index-1 {
  z-index: 1;
}

.index-2 {
  z-index: 2;
}

.index-3 {
  z-index: 3;
}

.color-brand-1 {
  color: #28a5f5;
}

.color-brand-2 {
  color: #f00;
}

.color-black {
  color: #000;
}

.bg-brand-1 {
  background-color: #28a5f5;
}

.bg-brand-2 {
  background-color: #f00;
}

.offset-static-xs {
  margin-bottom: 15px;
}

.offset-static-sm {
  margin-bottom: 30px;
}

.offset-static-md {
  margin-bottom: 45px;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-underline {
  text-decoration: underline;
}

.text-decoration-none {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.size-zero {
  font-size: 0;
}

.veffect:before {
  position: absolute;
  z-index: -1;
  content: "";
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}

.veffect_line:before {
  width: 40px;
  height: 400%;
  opacity: 0;
  -webkit-transition-delay: .1s;
  -o-transition-delay: .1s;
  transition-delay: .1s;
}

.veffect_line.left.top:before {
  top: 50%;
  left: -100%;
  -webkit-transform: rotate(35deg) translateY(-50%);
  -ms-transform: rotate(35deg) translateY(-50%);
  transform: rotate(35deg) translateY(-50%);
}

.veffect_line.left.top:hover:before {
  left: 150%;
  opacity: 1;
}

.veffect_skew:before {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 0;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.veffect_skew:hover:before {
  height: -webkit-calc(450% - 40px);
  height: calc(450% - 40px);
  opacity: 1;
}

.veffect_shutter-y-out:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
}

.veffect_shutter-y-out:hover:before {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}

.veffect_shutter-x-out:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.veffect_shutter-x-out:before {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}

.veffect_shutter-x-out:hover:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.veffect_bounce-top:before, .veffect_bounce-bottom:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-timing-function: cubic-bezier(.52, 1.64, .37, .66);
  -o-transition-timing-function: cubic-bezier(.52, 1.64, .37, .66);
  transition-timing-function: cubic-bezier(.52, 1.64, .37, .66);
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
}

.veffect_bounce-top:before {
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.veffect_bounce-bottom:before {
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.veffect_bounce-top:hover:before, .veffect_bounce-bottom:hover:before {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.vbtn {
  position: relative;
  z-index: 1;
  display: inline-block;
  max-width: 100%;
  padding: 10px 16px;
  overflow: hidden;
  font-size: 14px;
  font-size: 18px;
  line-height: 1.4;
  text-decoration: none;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  outline: none;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-tap-highlight-color: transparent;
}

.vbtn-group {
  font-size: 0;
}

.vbtn-group .vbtn {
  margin-right: 5px;
  margin-bottom: 5px;
}

.vbtn_size-lg {
  padding: 15px 25px;
  font-size: 18px;
}

.vbtn_size-fluid {
  display: block;
  width: 100%;
  text-align: center;
}

.vbtn_shadow-brand-1 {
  -webkit-box-shadow: 0 3px 8px 1px rgba(40, 165, 245, .5);
  box-shadow: 0 3px 8px 1px rgba(40, 165, 245, .5);
}

.vbtn_shadow:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.vbtn_navigation {
  background-color: #40aff6;
}

@media (max-width: 1024px) {
  .vbtn_navigation {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    text-align: left;
  }
}

@media (min-width: 1025px) {
  .vbtn_navigation {
    background-color: #28a5f5;
  }
}

.vbtn_white {
  color: #28a5f5;
  background-color: #fff;
}

.vbtn_white:before {
  background-color: #d9d9d9;
}

.vbtn_white-simple:hover {
  background-color: #d9d9d9;
}

.vbtn_brand-1 {
  color: #fff;
  background-color: #28a5f5;
}

.vbtn_brand-1:before {
  background-color: #097dc7;
}

.vbtn_brand-1-simple:hover {
  background-color: #097dc7;
}

.vbtn_border-brand-1 {
  border-style: solid;
  border-width: 3px;
}

.vbtn_border-brand-1 {
  color: #28a5f5;
  background-color: transparent;
  border-color: #28a5f5;
}

.vbtn_border-brand-1:before {
  background-color: #28a5f5;
}

.vform {
  width: 100%;
}

.vform_block .vform__row {
  margin-bottom: 15px;
}

.vform_block .vform__row:last-child {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .vform_line .vform__row {
    margin-bottom: 15px;
  }
  .vform_line .vform__row:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .vform_line .vform__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: -15px;
    margin-left: -15px;

    -webkit-box-pack: center;

    -webkit-justify-content: center;

    -ms-flex-pack: center;

    justify-content: center;
  }
  .vform_line .vform__row {
    padding-right: 15px;
    padding-left: 15px;

    -webkit-box-flex: 1;

    -webkit-flex: 1;

    -ms-flex: 1;

    flex: 1;
  }
  .vform_line .vform__submit {
    width: 100%;
    height: 100%;
  }
}

.vform__control {
  display: block;
  width: 100%;
  max-width: 100%;
  -webkit-appearance: none;
  padding: 15px;
  font-size: 15px;
  color: #000;
  text-align: left;
  border: 1px solid #ddd;
  outline: none;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}

.vform__control:-moz-placeholder {
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}

.vform__control::-moz-placeholder {
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}

.vform__control:-ms-input-placeholder {
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}

.vform__control::-webkit-input-placeholder {
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}

.vform__control:focus {
  border-color: #28a5f5;
}

.vform__control:focus:-moz-placeholder {
  color: transparent;
}

.vform__control:focus::-moz-placeholder {
  color: transparent;
}

.vform__control:focus:-ms-input-placeholder {
  color: transparent;
}

.vform__control:focus::-webkit-input-placeholder {
  color: transparent;
}

[type="submit"] {
  cursor: pointer;
}

/* -----------------------------------------------------------------------------
  CHECKBOX & RADIO COMPONENTS
----------------------------------------------------------------------------- */
.control__indicator, .control__indicator:before {
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}

.control {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.control-group {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.control__text {
  display: inline-block;
  padding-left: 40px;
  font-size: 18px;
  vertical-align: middle;
}

.control__indicator {
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 25px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.control__indicator:before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.control input[type="checkbox"],
.control input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

input[type="radio"] + .control__indicator {
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

input[type="radio"] + .control__indicator:before {
  width: 50%;
  height: 50%;
  margin-top: -25%;
  margin-left: -25%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

input[type="radio"]:checked + .control__indicator:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

input[type="checkbox"] + .control__indicator {
  border-style: solid;
  border-width: 1px;
}

input[type="checkbox"] + .control__indicator:before {
  top: 4px;
  left: 9px;
  width: 6px;
  height: 13px;
  border-style: solid;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
}

input[type="checkbox"]:checked + .control__indicator:before {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
}

.control_default input[type="radio"] + .control__indicator {
  border-color: #28a5f5;
}

.control_default input[type="radio"] + .control__indicator:before {
  background-color: #28a5f5;
}

.control_default input[type="checkbox"] + .control__indicator {
  border-color: #28a5f5;
}

.control_default input[type="checkbox"] + .control__indicator:before {
  border-color: #28a5f5;
}

.list {
  font-size: 15px;
  list-style: none;
}

.list li {
  position: relative;
}

.list li:after {
  position: absolute;
  content: "";
}

.list_cancel li {
  padding-left: 30px;
}

.list_cancel li:after {
  top: 0;
  left: 0;
  width: 37px;
  height: 37px;
}

.vtitle-xs, .vtitle-sm, .vtitle-md, .vtitle-lg {
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: normal;
  line-height: 1.2;
}

.vtitle-xs {
  font-size: 18px;
}

@media (min-width: 480px) {
  .vtitle-xs {
    font-size: 18px;
  }
}

.vtitle-sm {
  font-size: 20px;
}

@media (min-width: 768px) {
  .vtitle-sm {
    font-size: 20px;
  }
}

@media (min-width: 1025px) {
  .vtitle-sm {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  .vtitle-sm {
    font-size: 40px;
  }
}

.vtitle-md {
  font-size: 25px;
}

@media (min-width: 768px) {
  .vtitle-md {
    font-size: 30px;
  }
}

@media (min-width: 1025px) {
  .vtitle-md {
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  .vtitle-md {
    font-size: 50px;
  }
}

.vtitle-lg {
  font-size: 30px;
}

@media (min-width: 768px) {
  .vtitle-lg {
    font-size: 40px;
  }
}

@media (min-width: 1025px) {
  .vtitle-lg {
    font-size: 50px;
  }
}

@media (min-width: 1200px) {
  .vtitle-lg {
    font-size: 60px;
  }
}

.vtabs__list {
  margin-bottom: 30px;
  font-size: 0;
  text-align: center;
}

.vtabs__list-item {
  display: inline-block;
}

.vtabs__list-item-link {
  position: relative;
  display: block;
  padding: 10px 15px;
  font-size: 18px;
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  border-bottom: 2px solid #eaeaea;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}

.vtabs__list-item-link:hover {
  background-color: #eaeaea;
}

.vtabs__list-item.active .vtabs__list-item-link {
  color: #28a5f5;
}

.vtabs__content-inner {
  display: none;
}

.vtabs__content-inner.active {
  display: block;
}

.vmodal, .vmodal_showing, .vmodal__box {
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}

.vmodal, .vmodal_showing {
  visibility: hidden;
  opacity: 0;
}

.vmodal_showing_in {
  visibility: visible;
  opacity: 1;
}

.vmodal__box {
  position: relative;
  padding: 40px 15px 30px;
  margin: 30px auto;
  background-color: #fff;
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .25);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .25);
  -webkit-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
}

.vmodal__box_white {
  background-color: #fff;
}

.vmodal_showing_in .vmodal__box {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

@media (min-width: 480px) {
  .vmodal__box {
    padding: 48px 24px;
  }
  .vmodal__box_default {
    width: 460px;
  }
}

@media (min-width: 768px) {
  .vmodal__box_big {
    width: 600px;
    margin: 30px auto;
  }
}

.vmodal__close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: block;
  width: 40px;
  font-size: 40px;
  font-weight: 900;
  line-height: 1;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;

  -webkit-tap-highlight-color: transparent;
}

.vmodal__close:hover {
  color: #28a5f5;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.vmodal__content {
  display: none;
}

.vmodal_showing_in .vmodal__content {
  display: block;
}

.vmodal__body {
  font-size: 15px;
  color: #616161;
}

.vmodal__inner {
  max-height: 60vh;
  padding-right: 15px;
  padding-left: 15px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.vmodal__inner p {
  margin-bottom: 15px;
}

.vmodal__inner p:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .vmodal__inner {
    max-height: 350px;
  }
  .vmodal__inner::-webkit-scrollbar {
    width: 7.5px;
  }
  .vmodal__inner::-webkit-scrollbar-track {
    background-color: #ddd;
  }
  .vmodal__inner::-webkit-scrollbar-thumb {
    background-color: darkgrey;
  }
}

.vmodal__title {
  position: relative;
  padding-bottom: 7.5px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.3;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.vmodal__title:after {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 25%;
  height: 2px;
  content: "";
  background-color: #28a5f5;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media (min-width: 480px) {
  .vmodal {
    font-size: 18px;
    letter-spacing: 2.5px;
  }
}

.vmodal__video {
  margin-top: 30px;
}

.vmodal__iframe {
  display: block;
  width: 100%;
  min-height: 300px;
}

.vmodal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(46, 46, 46, .8);
  outline: 0;

  -webkit-backface-visibility: hidden;

  backface-visibility: hidden;
}

.vmodal_showing_in {
  overflow-y: visible;
}

.vmodal-open {
  overflow-x: hidden;
  overflow-y: hidden;
}

.js-collapse {
  margin-bottom: 30px;
}

.js-collapse__group:not(:last-child) {
  margin-bottom: 30px;
}

.js-collapse__group-header {
  padding: 10px 15px;
  cursor: pointer;
  border-bottom: 1px solid #eaeaea;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}

.js-collapse__group-header:hover {
  background-color: rgba(40, 165, 245, .1);
}

.js-collapse__group-title {
  font-weight: bold;
}

.js-collapse__group-body {
  display: none;
  padding: 15px;
  font-size: 16px;
}

.js-collapse__group.active .js-collapse__group-header {
  border-bottom-color: #28a5f5;
}
