@include b('case'){
	&__title{
		display: block;
		margin: 0 0 7.5px 0;
		font: {
			size: 18px;
			weight: bold;
		}
		letter-spacing: 1px;
		text: {
			decoration: inherit;
			text-transform: inherit;
		}
		@include transition();
		&:hover{
			color: $color-brand-1;
		}
	}
}