@include b('widget'){
	&__list{
		list-style: none;
		&-element{
			display: block;
			margin-bottom: 30px;
			&-link{
				display: block;
				text-decoration: none;
				color: inherit;
				font-weight: bold;
				opacity: 0.3;
				@include transition();
				&:hover,
				&.vactive{
					opacity: 1;
					transform: translateX(5px);
				}
			}
		}
	}	
}