$letters-bg-size: (
	'letters-bg-size': (
		xs: 	90px,
		sm:   110px,
		md:   150px,
		lg:   220px
	)
);
@include b('letters-bg'){
	position: absolute;
	color: $color-black;
	opacity: 0.04;
	line-height: 1;
	font-size: 70px;
	font-weight: bold;
	text-transform: uppercase;
	z-index: -1;
	filter: blur(100px);
	transform: translateY(150%);
	transition: all ease 0.5s;
	max-width: 800px;
	&[data-emergence="visible"]{
		filter: none;
		transform: none;
	}
	@include fs('letters-bg-size', $letters-bg-size);
}