/// Sizes for elements.
$sizes: (
	'title-xs': (
		xs:   18px
	),
	'title-sm': (
		sm:   20px,
		md:   30px,
		lg:   40px
	),
	'title-md': (
		sm: 	24px,
		md:   25px,
		lg: 	26px
	),
	'title-lg': (
		xs:		50px,
		sm:   60px,
		md:   86px,
		lg:   96px
	),
	'title-xlg': (
		sm:   50px,
		md:   60px,
		lg:   75px
	)
);

%title-default{
	margin-top: 5px;
	margin-bottom: 15px;
}
@include b('title'){
	&-xs{
		font-size: 18px;
		@include fs('title-xs');
		@extend %title-default;
	}
	&-sm{
		font-size: 20px;
		@include fs('title-sm');
		@extend %title-default;
	}
	&-md{
		line-height: 1.4;
		font-size: 20px;
		@include fs('title-md');
		@extend %title-default;
	}
	&-lg{
		line-height: 1.1;
		font-size: 45px;
		@include fs('title-lg');
		@include font('secondary');
		@extend %title-default;
	}
	&-xlg{
		line-height: 1.1;
		font-size: 50px;
		@include fs('title-xlg');
		@extend %title-default;
	}
	&-group{
		margin-bottom: 30px;
		@include min(sm){
			margin-bottom: 45px;
			&_inline{
				display: flex;
				align-items: center;
			}
		}
		&__content{
			&-footer{
				margin-top: 30px;
			}
			@include min(sm){
				padding-left: 30px;
			}
			@include min(md){
				padding-left: 45px;
			}
			@include min(lg){
				padding-left: 75px;
			}
		}
	}
}