/// Sizes for elements.
$sizes: (
	'vtitle-xs': (
		xs:   18px
	),
	'vtitle-sm': (
		sm:   20px,
		md:   30px,
		lg:   40px
	),
	'vtitle-md': (
		sm: 	24px,
		md:   25px,
		lg: 	26px
	),
	'vtitle-lg': (
		xs:		50px,
		sm:   60px,
		md:   86px,
		lg:   96px
	),
	'vtitle-xlg': (
		sm:   100px,
		md:   120px,
		lg:   160px
	)
);

%vtitle-default{
	margin-top: 5px;
	margin-bottom: 15px;
}
.vtitle{
	&-xs{
		font-size: 18px;
		@include fs('vtitle-xs');
		@extend %vtitle-default;
	}
	&-sm{
		font-size: 20px;
		@include fs('vtitle-sm');
		@extend %vtitle-default;
	}
	&-md{
		line-height: 1.4;
		font-size: 20px;
		@include fs('vtitle-md');
		@extend %vtitle-default;
	}
	&-lg{
		line-height: 1.1;
		font-size: 45px;
		@include fs('vtitle-lg');
		@include font('secondary');
		@extend %vtitle-default;
	}
	&-xlg{
		line-height: 1.1;
		font-size: 50px;
		@include fs('vtitle-xlg');
		@extend %vtitle-default;
	}
	// &-xxlg{
	// 	line-height: 1.1;
	// 	font-size: 30px;
	// 	@include fs('vtitle-xxlg');
	// 	@extend %vtitle-default;
	// }
	&-group{
		@include resp-min(sm){
			&_inline{
				display: flex;
				align-items: center;
			}
		}
		&__content{
			&-footer{
				margin-top: 30px;
			}
			@include resp-min(sm){
				padding-left: 30px;
			}
			@include resp-min(md){
				padding-left: 45px;
			}
			@include resp-min(lg){
				padding-left: 75px;
			}
		}
	}
}