@include b('portfolio'){
	&__tabs{
		&-list{
			width: 100%;
			text-align: center;
			margin-bottom: 45px;
			li{
				display: inline-block;
				&:not(:last-child){
					margin-right: 15px;
				}
			}
			a{
				text-decoration: none;
				font-weight: 600;
				padding: 15px;
				color: #000;
				transition: all ease 0.5s;
				&:hover,
				&.active{
					color: #fff;
				}
				&:hover{
					background-color: darken($color-brand-1, 15%);
				}
				&.active{
					background-color: $color-brand-1;
				}
			}
		}
	}
}