extends pug/layout
block head
	+add-meta('Portfolio', 'Portfolio')
block nav
	include pug/layouts/nav
block content
	include pug/sections/intro
	include pug/sections/about
	//include pug/sections/skills
block footer
	include pug/layouts/footer