include ../bem/index
include ../helpers/config
+b.SECTION.about
	+e.container.container
		+b.row
			+b.col-12.col-sm-6
				+b.title-group
					+e.H3.title.title-lg About<br>me
					+e.content
						+b.P.title-md
							| Hello! I’m 
							+b.SPAN.highlight._brand-1 web-developer
							| , freelancer from Cherkassy. I have more than 3 years experience in creating websites. I am proud of every project, that touched my hands.