include ../bem/index
include ../helpers/config
+b.SECTION.intro#section-intro
	+e.shape._left.shape__._transparent(data-emergence="hidden")
		+e.inner
			+e.inner-shape._white
	+e.shape._right.shape__._transparent(data-emergence="hidden")
		+e.inner
			+e.inner-shape._white
	+e.container.container
		+e.shape._main.shape__(data-emergence="hidden")
			+e.inner
				+e.inner-shape._brand-1
		.row
			.col-12.col-sm-6.col-lg-5
				+e.H1.title
					span.font-weight-extra-light Vsevolod
					br
					| Kurochka
				+e.H2.subtitle
					+e.SPAN.subtitle-element Web developer
					+e.SPAN.subtitle-element Freelancer
			.col-12.col-sm-4.col-lg-3
				+e.P.content
					| Hello! I’m 
					+b.SPAN.highlight._brand-1 web-developer
					| , freelancer from Cherkassy. I have more than 3.5 years experience in creating websites. I am proud of every project, that touched my hands.