include ../bem/index
include ../helpers/config
+b.SECTION.intro#section-intro
	+e.shape._left.shape__._transparent(data-emergence="hidden")
		+e.inner
			+e.inner-shape._white
	+e.shape._right.shape__._transparent(data-emergence="hidden")
		+e.inner
			+e.inner-shape._white
	+e.container.vcontainer
		+e.shape._main.shape__(data-emergence="hidden")
			+e.inner
				+e.inner-shape._brand-1
		+e.H2.subtitle.title-md Web-developer from Cherkassy.<br>	More than 3 years experience.
		+e.H1.title.title-xlg Vsevolod<br>Kurochka