include ../bem/index
include ../helpers/config
+b.SECTION.vintro
	+e.circle._left.circle._brand-1._transparent
	+e.circle._right.circle._brand-1._transparent
	+e.container.vcontainer
		+e.circle._main.circle._brand-1
		+e.H2.subtitle.vtitle-md Web-developer from Cherkassy.<br>	More than 3 years experience.
		+e.H1.title.vtitle-xlg Vsevolod<br>Kurochka