include ../bem/index
include ../helpers/config
include ../helpers/mixins
+b.SECTION.portfolio__.section-anchor#section-portfolio
	+e.shape._right.shape__._brand-1._transparent(data-emergence="hidden")
		+e.inner
			+e.inner-shape._brand-1
	+e.container.container
		+b.title-group._inline
			+e.H3.title.title-lg My<br>Works
			+e.content
				+b.P.title-md
					| For
					+b.SPAN.highlight._brand-1 3 years of work
					| , I have collected many projects that I can share with you. For each project, I made considerable efforts to ensure that everyone was happy!
		+e.row.row.tabs__#portfolio-tabs
			.vcol-12.vcol-sm-8.vcol-md-9
				+e.content
					for group in portfolio
						+e.tab(class=group.info.status id='tab-' + group.info.ID)
							+e.tab-header
								+e.P.tab-title=group.info.title
							+e.tab-content
								.vrow
									for groupItem in group.items
										+case(groupItem.image, groupItem.title, groupItem.content, groupItem.tag, groupItem.link)
							+e.tab-footer
								+b.A.vbtn._cross._size-lg(href="#")
									span.fl
									span.sfl
									span.cross
									i
									p Look more
			+e.ASIDE.list.widget__.vcol-12.vcol-sm-4.vcol-md-3
				+e.item
					+e.P.title Categories
					+e.UL.list
						for group in portfolio
							+e.LI.list-element
								+e.A.list-element-link(class=group.info.status href="#tab-" + group.info.ID)=group.info.title
		+e.P.letters-bg.letters-bg Perfection in detail