include ../bem/index
include ../helpers/config
include ../helpers/mixins
+b.SECTION.portfolio__.section-anchor#section-portfolio
	+e.shape._right.shape__._brand-1._transparent(data-emergence="hidden")
		+e.inner
			+e.inner-shape._brand-1
	+e.container.container
		+b.title-group._inline
			+e.H3.title.title-lg My<br>Works
			+e.content
				+b.P.title-md
					| For
					+b.SPAN.highlight._brand-1 3 years of work
					| , I have collected many projects that I can share with you. For each project, I made considerable efforts to ensure that everyone was happy!
		+e.row.row.tabs__#portfolio-tabs
			+e.UL.list.portfolio__tabs-list
				for group in portfolio
					li
						a(class=group.info.status href="#tab-" + group.info.ID)=group.info.title
			+e.content
				for group in portfolio
					+e.tab(class=group.info.status id='tab-' + group.info.ID)
						+e.tab-content
							.vrow
								for groupItem in group.items
									+case(groupItem.image, groupItem.title, groupItem.content, groupItem.tag, groupItem.link)
						+e.tab-footer
							+btn-cross('View all Projects', '#')
		+e.P.letters-bg.letters-bg(data-emergence="hidden") Perfection