include ../bem/index
include ../helpers/config
		
+b.SECTION.skills.section-anchor#section-skills
	+e.shape._right.shape__._brand-1._transparent(data-emergence="hidden")
		+e.inner
			+e.inner-shape._brand-1
	+e.container.container
		+b.row
			+b.col-12.col-sm-6
				+b.title-group
					+e.H3.title.title-lg My<br>Skills
					+e.content
						+b.P.title-md
							| And what can you be 
							+b.SPAN.highlight._brand-1 proud of?
		+e.items-wrapper
			+e.UL.items#vskills-items

		+e.P.letters-bg.letters-bg(data-emergence="hidden") So much