include ../bem/index
include ../helpers/config
+b.SECTION.skills.section-anchor#section-skills
	+e.shape._right.shape__._brand-1._transparent(data-emergence="hidden")
			+e.inner
				+e.inner-shape._brand-1
	+e.container.container
		+b.row
			+b.col-12.col-sm-6
				+b.title-group
					+e.H3.title.title-lg My<br>Skills
		+e.monitor
			+e.monitor-inner
				+e.IMG.monitor-img(src="img/skills/monitor.png")
				+e.monitor-area
					+e.monitor-bubble CSS3
					+e.monitor-bubble LESS
					+e.monitor-bubble Bootstrap
					+e.monitor-bubble Jq
					+e.monitor-bubble PHP
					+e.monitor-bubble Gulp
					+e.monitor-bubble PUG
					+e.monitor-bubble iOS
					+e.monitor-bubble JS
					+e.monitor-bubble WP
					+e.monitor-bubble Angular
					+e.monitor-bubble SASS
					+e.monitor-bubble REACT
					+e.monitor-bubble HTML5
					+e.monitor-bubble Cross<br>Browser
		+e.P.letters-bg.letters-bg I am Perfect