include ../bem/index
include ../helpers/config
+b.SECTION.skills.section-anchor#section-skills
	+e.container.container
		+b.row
			+b.col-12.col-sm-6
				+b.title-group
					+e.H3.title.title-lg My<br>Skills
		+e.P.letters-bg.letters-bg I am Perfect