doctype html
html(lang="ru")
	head
		include assets/meta
		include bem/index
		include helpers/config
		include helpers/mixins
		block css
			+css("//fonts.googleapis.com/css?family=Fira+Sans+Condensed:300,900|Playfair+Display:700,900&amp;subset=cyrillic")
			+css("css/style.css")
		block js
			+js("js/vanilla.main.js")
			+js("js/lib/emergence.min.js")
		block head
	body
		block nav
		.site#page
			.site-content#content
				+b.line
					+e.container.container
						+e.row.row
							- for (var i = 0; i < 5; i++) {
								+e.SPAN.item(class="_" + (i+1))
							-}
				block content
			block footer