doctype html
html(lang="ru")
	head
		include assets/meta
		include bem/index
		include helpers/config
		include helpers/mixins
		block css
			+css("//fonts.googleapis.com/css?family=Fira+Sans+Condensed:300,900|Playfair+Display:700,900&amp;subset=cyrillic")
			+css("css/style.css")
		block js
			+js("js/vanilla.main.js")
		block head
	body
		block nav
		.site#page
			.site-content#content
				block content
			block footer