doctype html
html(lang="ru")
	head
		include assets/meta
		include bem/index
		include helpers/config
		include helpers/mixins
		block css
			+css("//fonts.googleapis.com/css?family=Roboto:300,400,700,900&amp;subset=cyrillic")
			+css("css/style.css")
		block js
			+js("js/main-vanilla.js")
		block head
	body
		block nav
		.site#page
			block header
			.site-content#content
				block content
			block footer