.#{$themeNav}{
	$self: &;
	&__addition{
		position: relative;
		text-align: right;
		color: $color-white;
		font-weight: bold;
		&-link{
			position: relative;
			display: inline-block;
			color: inherit;
			text-decoration: none;
			&-icon{
				vertical-align: middle;
			}
		}
		@include resp-max(md){
			&-link{
				&-text{
					display: none;
				}
			}
		}
		@include resp-min(md){
			order: 3;
			color: $color-black;
			&-link{
				&-icon{
					margin-right: 15px;
				}
			}
		}
	}
}