/* -----------------------------------------------------------------------------

  HAMBURGER COMPONENT
  
----------------------------------------------------------------------------- */

// Variables

$hamburger-width: 24px;
$hamburger-height: 20px;
$hamburger-transistion-duration: 0.3s; 
$hamburger-line-width: 100%;
$hamburger-line-height: 4px;


.#{$themePrefix}hamburger{
	@at-root {
		%hamburger-format{
			display: inline-block;
			vertical-align: middle;
		}
		%hamburger-transition{
			@include transition($tr-dur: $hamburger-transistion-duration);
		}
	}
	margin-right: 15px;
	padding: 0;
	background-color: transparent;
	border: none;
	outline: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
	@extend %hamburger-transition;
	@extend %hamburger-format;
	&__lines{
		position: relative;
		width: $hamburger-width;
		height: $hamburger-height;
		text-indent: -9999px;
		@extend %hamburger-format;
		@extend %hamburger-transition;
		span{
			display: block;

			width: $hamburger-line-width;
			height: $hamburger-line-height;
			background-color: $color-white;
			@extend %hamburger-transition;
			&:nth-child(1){
				animation: outT 0.8s backwards;
				animation-direction: reverse;
			}
			&:nth-child(2){
				margin-top: 4px;
				margin-bottom: 4px;
				animation: outM 0.8s backwards;
				animation-direction: reverse;
			}
			&:nth-child(3){
				animation: outBtm 0.8s backwards;
				animation-direction: reverse;
			}
		}
	}	
	&__text{
		margin-left: 15px;
		color: $color-white;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 18px;
		@extend %hamburger-format;
	}
	&.active &__lines{
		span{
			&:nth-child(1){
				animation: inT 0.8s forwards;
			}
			&:nth-child(2){
				animation: inM 0.8s forwards;
			}
			&:nth-child(3){
				animation: inBtm 0.8s forwards;
			}
		}
	}
	@at-root{
		@keyframes inM{
			50%{
				transform:rotate(0deg);
			}
			100%{
				transform:rotate(45deg);
			}
		}
		@keyframes outM{
			50%{
				transform:rotate(0deg);
			}
			100%{
				transform:rotate(45deg);
			}
		}
		@keyframes inT{
			0%{
				transform: translateY(0px) rotate(0deg);
			}
			50%{
				transform: translateY(9px) rotate(0deg);
			}
			100%{
				transform: translateY(8px) rotate(135deg);
			}
		}
		@keyframes outT{
			0%{
				transform: translateY(0px) rotate(0deg);
			}
			50%{
				transform: translateY(9px) rotate(0deg);
			}
			100%{
				transform: translateY(9px) rotate(135deg);
			}
		}
		@keyframes inBtm{
			0%{
				transform: translateY(0px) rotate(0deg);
			}
			50%{
				transform: translateY(-7px) rotate(0deg);
			}
			100%{
				transform: translateY(-8px) rotate(135deg);
			}
		}
		@keyframes outBtm{
			0%{
				transform: translateY(0px) rotate(0deg);
			}
			50%{
				transform: translateY(-9px) rotate(0deg);
			}
			100%{
				transform: translateY(-9px) rotate(135deg);
			}
		}
	}
	@include resp-min(md){
		display: none;
	}
}