-
	var navigation = [
		{
			name: 'About Me',
			link: '#section-about'
		},
		{
			name: 'Technologies',
			link: '#section-technologies'
		},
		{
			name: 'Projects',
			link: '#section-projects'
		},
		{
			name: 'Contact me',
			link: '#section-contact'
		}
	];

	var wordpress = false;

	var themePrefix = '';
	var themeNav = 'vnav';