
<!-- class="_size-lg"-->
<form class="vform vform_block">
  <div class="vform__content">
    <div class="vform__row vform__row_line"><input class="vform__control" name="vname" type="text" placeholder="Name"/><span class="vform__line"></span>
    </div>
    <div class="vform__row vform__row_line"><input class="vform__control" name="vemail" type="email" placeholder="E-mail"/><span class="vform__line"></span>
    </div>
    <div class="vform__row vform__row_line"><input class="vform__control" name="vphone" type="phone" placeholder="Phone"/><span class="vform__line"></span>
    </div>
    <div class="vform__row">
      <button class="vbtn vbtn_cross" type="submit"><span class="fl"></span><span class="sfl"></span><span class="cross"></span><i></i>
        <p>Send Message</p>
      </button>
    </div>
  </div>
</form>