include ../bem/index
include ../helpers/mixins
+b.FORM.vform._block
	+e.content
		+e.row._line
			+e.INPUT.control(name="vname" type="text" placeholder="Name")
			+e.SPAN.line
		+e.row._line
			+e.INPUT.control(name="vemail" type="email" placeholder="E-mail")
			+e.SPAN.line
		+e.row._line
			+e.INPUT.control(name="vphone" type="phone" placeholder="Phone")
			+e.SPAN.line
		+e.row
			+btn-cross('Send Message', 'button')(type="submit")