+b('intro')
	+e('title')
		+font('secondary')
		margin-bottom: 30px
		line-height: 1.1
		font-weight: 700
		letter-spacing: 10px
		text-transform: uppercase
		font-size: 30px

		// 1. Namespace
		// 2. Intensity
		// 3. Text color
		// 4. Background color (flat)
		// 5. Highlight #1 color
		// 6. Highlight #2 color
		// 7. Width (px)
		// 8. Height (px)
		+textGlitch("intro-title", 10, white, black, $color-brand-1, blue, 450, 250);

		+min(sm)
			font-size: 50px
		
		+min(md)
			font-size: 60px
		
		+min(lg)
			font-size: 75px