@include className('about'){
	&__shape{
		@include resp-max(xs){
			position: relative;
			margin-bottom: 30px;
		}
		@include resp-min(xs){
			right: 15px;
			top: 15px;
		}
		@include resp-min(md){
			top: -200px;
		}
	}
}