include ../bem/index
include ../helpers/config
mixin social(size)
	+b.UL.social(class=size)
		+e.LI.item
			+e.A.item-link(href="tel: +38 (063) 505 62 63")
				+e.I.item-link-icon.fa.fa-mobile(aria-hidden="true")
		+e.LI.item
			+e.A.item-link(href="skype: mozilla20103")
				+e.I.item-link-icon.fa.fa-skype(aria-hidden="true")
		+e.LI.item
			+e.A.item-link(href="https://www.facebook.com/vsevolod.kurochka.1")
				+e.I.item-link-icon.fa.fa-facebook(aria-hidden="true")
		+e.LI.item
			+e.A.item-link(href="https://github.com/VsevolodKurochka")
				+e.I.item-link-icon.fa.fa-github(aria-hidden="true")